<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "todos.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="coreTest">
            <file>coreTest/BootstrapTest.php</file>
        </testsuite>
    </testsuites>


</phpunit>
